<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <display-name>Biblioteca Libros</display-name>

    <!-- Página de inicio -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Puedes definir servlets aquí si no usas anotaciones -->
    <!--
    <servlet>
        <servlet-name>LibroServlet</servlet-name>
        <servlet-class>sena.adso.controladores.LibroServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LibroServlet</servlet-name>
        <url-pattern>/libros</url-pattern>
    </servlet-mapping>
    -->

</web-app>
